<html ng-app="app">
<head>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Animated Top Menu</title>

    <script src="lib/angular.min.js"></script>

    <script src="cordova.js"></script>

    <script src="lib/d3.min.js"></script>
    <script src="lib/onsenui.min.js"></script>
    <script src="js/index.js"></script>
    <!--<script src="lib/angular-swipe/src/angular-swipe.js"></script>-->
    <!--<script src="lib/angular-superswipe/superswipe.js"></script>-->

    <!--<link rel="stylesheet" type="text/css" href="lib/nv.d3.min.css">-->
    <link rel="stylesheet" type="text/css" href="lib/onsenui.css">
    <link rel="stylesheet" type="text/css" href="lib/onsen-css-components.css">
</head>
<body ng-app="app" ng-controller="MyController as main"  ng-cloak>
<ons-navigator var="navi">
    <ons-toolbar style="background: #000000;">
        <div>
            <h4 class="center" style="color: #ffffff;">Animated Top Menu</h4>
        </div>

    </ons-toolbar>

    <div class="photobanner"  ng-slide-down="widgetExpanded"  duration="1" ng-click="widgetExpanded = !widgetExpanded">

        <!--{{widgetExpanded}}-->

        <img class="first" src="img/News.png" alt="" ng-click="openAppBrowser('https://www.google.co.jp')"/>
        <img src="img/BarChart.png" alt="" ng-click="showGraph(1)"/>
        <img src="img/Dashboard.png" alt="" ng-click="showGraph(0)"/>
        <img src="img/HeartMonitor.png" alt="" ng-click="showGraph(1)"/>
        <img src="img/Syringe.png" alt="" ng-click="showGraph(0)"/>
        <img src="img/X-ray.png" alt="" ng-click="showGraph(1)"/>
        <img src="img/Report.png" alt="" ng-click="showGraph(0)"/>
        <img src="img/BarChart.png" alt="" ng-click="showGraph(1)"/>
        <img src="img/News.png" alt="" ng-click="showGraph(0)"/>
        <img src="img/HeartMonitor.png" alt="" ng-click="showGraph(1)"/>

    </div>

    <div ng-click ="widgetExpanded = !widgetExpanded" style="height: 100%; width: 100%;">
        <img src="img/{{image}}" style="height: 100%; width: 100%;"/>
    </div>

</ons-navigator>
</body>
</html>
