
.photobanner {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background: #ffffff;
}


.photobanner div {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */
    padding-top: 5px;
    padding-bottom: 5px;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.photobanner img {
    height: 50px;
    width: 50px;
    padding: 15px;
    margin: 2px 2px 2px 2px;
  /*  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
*/
    -webkit-box-shadow: 0px 3px 3px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 3px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 3px 2px rgba(0,0,0,0.2);
}

.photobanner img:hover {
   /* -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
*/
    /*-webkit-box-shadow: 0px 3px 5px rgb(195,213,216);
    -moz-box-shadow: 0px 3px 5px rgb(195,213,216);
    box-shadow: 0px 3px 5px rgb(195,213,216);*/
    background: #ccf2ff;
}
